@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
  <span>Merhaba @User.Identity.Name kullanıcısı</span>
}

@if(User.IsInRole("admin"))
{
  <span>Sadece burayı admin görür</span>
}

<text-center text="Deneme"></text-center>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
